@model SistemaNomina.EstadoCivil

@{
    // Define el título de la página
    ViewBag.Title = "Create";

    //  plantilla que se usará para esta vista
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    // Seg
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>EstadoCivil</h4>
        <hr />

        // Muestra el resumen de errores de validación, si los hay
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            // Etiqueta para el campo "nombre" 
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                // Campo de entrada para editar el nombre
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })

                // Mensaje de validación específico para el campo nombre
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                // Botón para enviar el formulario y crear el nuevo estado civil
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    // Enlace para regresar a la lista de estados civiles
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    // Incluye los scripts necesarios para validación 
    @Scripts.Render("~/bundles/jqueryval")
}
