@model SistemaNomina.Aguinaldo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Aguinaldo</h4>
    <hr />

    @* Muestra los detalles del objeto Aguinaldo usando una lista descriptiva *@
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monto_total)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.monto_total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meses_laborados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.meses_laborados)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.anio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_actualizacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fecha_actualizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empleados.cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empleados.cedula)
        </dd>
    </dl>
</div>

<p>
    @* Enlace para editar el registro actual *@
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_aguinaldo }) |

    @* Enlace para volver al listado de registros *@
    @Html.ActionLink("Back to List", "Index")
</p>
