@model SistemaNomina.Aguinaldo

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@* Inicia el formulario de edición usando un formulario  *@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Aguinaldo</h4>
        <hr />

        @* Muestra un resumen de errores de validación *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @* Campo oculto para el ID del registro a editar *@
        @Html.HiddenFor(model => model.id_aguinaldo)

        @* Campo desplegable para seleccionar el empleado asociado *@
        <div class="form-group">
            @Html.LabelFor(model => model.id_empleado, "id_empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Campo para editar el monto total del aguinaldo *@
        <div class="form-group">
            @Html.LabelFor(model => model.monto_total, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.monto_total, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.monto_total, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Campo para editar la cantidad de meses laborados *@
        <div class="form-group">
            @Html.LabelFor(model => model.meses_laborados, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.meses_laborados, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.meses_laborados, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Campo para editar el año del aguinaldo *@
        <div class="form-group">
            @Html.LabelFor(model => model.anio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.anio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.anio, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Campo para editar la fecha de creación *@
        <div class="form-group">
            @Html.LabelFor(model => model.fecha_creacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Campo para editar la fecha de actualización *@
        <div class="form-group">
            @Html.LabelFor(model => model.fecha_actualizacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_actualizacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_actualizacion, "", new { @class = "text-danger" })
            </div>
        </div>

        @* Botón para guardar los cambios *@
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@* Enlace para volver al listado de registros *@
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@* Sección para incluir los scripts de validación de formularios *@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
