@model SistemaNomina.Incapacidades

@{
    // Define el título de la página
    ViewBag.Title = "Create";
    //  vista
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    // seguridad
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Incapacidades</h4>
        <hr />
        @*Muestra un resumen de errores de validación si existen*@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*Etiqueta para el campo id_empleado*@
            @Html.LabelFor(model => model.id_empleado, "id_empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*seleccionar el empleado*@
                @Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control" })
                @* Mensaje de error para id_empleado*@
                @Html.ValidationMessageFor(model => model.id_empleado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*El mismo orden que el anterior*@
            @Html.LabelFor(model => model.fecha_inicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.fecha_inicio, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.fecha_fin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.fecha_fin, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_fin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.numero_boleta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.numero_boleta, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.numero_boleta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.id_tipo_incapacidad, "id_tipo_incapacidad", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("id_tipo_incapacidad", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.id_tipo_incapacidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.id_estado, "id_estado", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.DropDownList("id_estado", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.id_estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            o
            @Html.LabelFor(model => model.fecha_registro, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.fecha_registro, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_registro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*Botón para enviar el formulario*@
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*Enlace para regresar a la lista principal de incapacidades*@
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @*validación*@
    @Scripts.Render("~/bundles/jqueryval")
}
