@model SistemaNomina.Bitacora

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @* Seguridad *@
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bitacora</h4>
        <hr />
        @* Mostrar mensajes de validación de errores si los hay *@
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @* Etiqueta seleccionar el usuario con id *@
            @Html.LabelFor(model => model.id_usuario, "id_usuario", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_usuario", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.id_usuario, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* Campo de texto para ingresar la acción realizada *@
            @Html.LabelFor(model => model.accion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.accion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.accion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* Campo para detallar  información adicional *@
            @Html.LabelFor(model => model.detalle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.detalle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.detalle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* Campo para ingresar la fecha y hora de la acción en la bitácora *@
            @Html.LabelFor(model => model.fecha_hora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_hora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fecha_hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @* Botón para enviar el formulario y crear el registro *@
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @* Enlace para regresar a la lista de registros de bitácora *@
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @* Scripts para validación del formulario  *@
    @Scripts.Render("~/bundles/jqueryval")
}
