@model SistemaNomina.HorasExtras

@{
    ViewBag.Title = "Create";
    // Establece el título de la página como "Create"
    Layout = "~/Views/Shared/_Layout.cshtml";
    // plantilla
}

<h2>Create</h2>
@*Título crear un registro nuevo*@

@using (Html.BeginForm())
{
    // Comienza un formulario

    @Html.AntiForgeryToken()
    // seguridad

    <div class="form-horizontal">
        @*estilo para formulario alineado horizontalmente*@

        <h4>HorasExtras</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*Mostrar resumen de errores de validación (si los hay)*@

        <div class="form-group">
            @*Grupo para el campo id_empleado*@
            @Html.LabelFor(model => model.id_empleado, "id_empleado", htmlAttributes: new { @class = "control-label col-md-2" })
            @*Etiqueta para el campo id_empleado*@
            <div class="col-md-10">
                @Html.DropDownList("id_empleado", null, htmlAttributes: new { @class = "form-control" })
                @*Lista desplegable para seleccionar empleado*@
                @Html.ValidationMessageFor(model => model.id_empleado, "", new { @class = "text-danger" })
                @*Mensaje de validación específico para este campo*@
            </div>
        </div>

        <div class="form-group">
            @*Grupo para el campo id_tipo*@
            @Html.LabelFor(model => model.id_tipo, "id_tipo", htmlAttributes: new { @class = "control-label col-md-2" })
            @*Etiqueta para tipo de horas extras*@
            <div class="col-md-10">
                @Html.DropDownList("id_tipo", null, htmlAttributes: new { @class = "form-control" })
                @*seleccionar el tipo de hora extra*@
                @Html.ValidationMessageFor(model => model.id_tipo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Grupo para el campo fecha*@
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            @*Etiqueta para la fecha*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control" } })
                @*Campo para ingresar la fecha*@
                @Html.ValidationMessageFor(model => model.fecha, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*el mismo orden que los anteriores*@
            @Html.LabelFor(model => model.hora_inicio, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.hora_inicio, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.hora_inicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.hora_fin, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.hora_fin, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.hora_fin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Grupo para el campo horas (cantidad total)*@
            @Html.LabelFor(model => model.horas, htmlAttributes: new { @class = "control-label col-md-2" })
            @*Etiqueta para horas*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.horas, new { htmlAttributes = new { @class = "form-control" } })
                @*Campo para ingresar cantidad de horas extras*@
                @Html.ValidationMessageFor(model => model.horas, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.valor_hora, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.valor_hora, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.valor_hora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.recargo, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.recargo, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.recargo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.motivo, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.motivo, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.motivo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Grupo para estado de la solicitud de horas extras*@
            @Html.LabelFor(model => model.id_estado, "id_estado", htmlAttributes: new { @class = "control-label col-md-2" })
            @*Etiqueta para estado*@
            <div class="col-md-10">
                @Html.DropDownList("id_estado", null, htmlAttributes: new { @class = "form-control" })
                @*seleccionar estado*@
                @Html.ValidationMessageFor(model => model.id_estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.aprobado_por, "aprobado_por", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.DropDownList("aprobado_por", null, htmlAttributes: new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.aprobado_por, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.fecha_aprobacion, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_aprobacion, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_aprobacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Grupo para fecha de creación del registro*@
            @Html.LabelFor(model => model.fecha_creacion, htmlAttributes: new { @class = "control-label col-md-2" })
            @*Etiqueta para fecha de creación*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control" } })
                @*Campo para ingresar fecha de creación del registro*@
                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.fecha_actualizacion, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_actualizacion, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_actualizacion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*Botón para enviar el formulario y crear el registro*@
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    @*Enlace para regresar a la lista principal de Horas Extras*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*validación*@
}
