@model SistemaNomina.Horarios

@{
    ViewBag.Title = "Delete";
    // Establece el título de la página como "Delete"
    Layout = "~/Views/Shared/_Layout.cshtml";
    // plantilla
}

<h2>Delete</h2>
@*Título pagina*@

<h3>Are you sure you want to delete this?</h3>
@*Mensaje de confirmación*@

<div>
    <h4>Horarios</h4>
    @* Subtítulo que indica la entidad relacionada*@
    <hr />
    @*Línea horizontal para separar visualmente*@

<dl class="dl-horizontal">
    @*detalles del registro*@

    <dt>
        @Html.DisplayNameFor(model => model.nombre)
        @*Etiqueta que muestra el nombre del campo 'nombre'*@
    </dt>

    <dd>
        @Html.DisplayFor(model => model.nombre)
        @*Muestra el valor del campo 'nombre'*@
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.hora_entrada)
        
    </dt>

    <dd>
        @Html.DisplayFor(model => model.hora_entrada)
        
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.hora_salida)
       
    </dt>

    <dd>
        @Html.DisplayFor(model => model.hora_salida)
       
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.fecha_creacion)
        
    </dt>

    <dd>
        @Html.DisplayFor(model => model.fecha_creacion)
        
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.fecha_actualizacion)
        
    </dt>

    <dd>
        @Html.DisplayFor(model => model.fecha_actualizacion)
        
    </dd>

</dl>

    @using (Html.BeginForm())
    {
        // Inicia un formulario para confirmar la eliminación

        @Html.AntiForgeryToken()
        // seguridad

<div class="form-actions no-color">
    @*acciones del formulario*@

    <input type="submit" value="Delete" class="btn btn-default" />
    @*Botón para confirmar la eliminación*@

    |
    @Html.ActionLink("Back to List", "Index")
    @* Enlace para regresar a la lista principal sin eliminar nada*@
</div>
    }
</div>
