@model SistemaNomina.Horarios

@{
    ViewBag.Title = "Edit";
    // Establece el título de la página como "Edit"
    Layout = "~/Views/Shared/_Layout.cshtml";
    // plantilla
}

<h2>Edit</h2>
@* Título vista*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    // seguridad

    <div class="form-horizontal">
        <h4>Horarios</h4>
        @*Subtítulo que indica la entidad relacionada*@
        <hr />
        @*Línea horizontal para separar visualmente*@

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*Muestra un resumen de errores de validación, si los hay*@

        @Html.HiddenFor(model => model.id_horario)
        @*Campo oculto para almacenar el id del horario que se está editando*@

        <div class="form-group">
            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
            @*Etiqueta para el campo 'nombre'*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                @* Control para editar el valor de 'nombre'*@
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                @*Mensaje de validación para el campo 'nombre'*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hora_entrada, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.hora_entrada, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.hora_entrada, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hora_salida, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.hora_salida, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.hora_salida, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_creacion, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_creacion, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_creacion, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fecha_actualizacion, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha_actualizacion, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.fecha_actualizacion, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                @*Botón para enviar el formulario y guardar los cambios*@
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
    @*Enlace para regresar a la lista principal de horarios*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*validación*@
}
